@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #203543;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* PaginaOne */
.nav{
  background-color: #203543;
}
.button{
  background-color: #E7A176;
  padding: 10px;
  color: #171717;
  font-weight: 600;
}
.separacao{
  background-color: #fff;
}
.navPrimaryAflex a{
  color: #E7A176;
  font-size: 22px;

}

/* scrol Lateral */
.patters {
  background: linear-gradient(45deg, #d9af96, #D8835C);
}
 